@using EntreVoisin.Models;
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p id="rData"></p>

<button id="ButtonID" class="btn btn-danger">LOl</button>
<script type="text/jscript">
    $('#ButtonID').click(function () {
        var url = "/Home/TellMeDate";
        $.get(url, null, function (data) {
            $("#rData").html(data);
        });
    })
</script>