@{
    ViewBag.Title = "Confirm";
}

<h2>Confirmation</h2>

<meta http-equiv="refresh" content="5;url=http://entrevoisin.gear.host">
<p>Votre compte a bien été enregistré vous pouvez vous connecter à partir de maintenant. Nous vous conseillons de notez les informations de votre compte pour ne pas les oublier. Vous serez renvoyer vers la page d'accueil dans 5 secondes</p>
<center>@Html.ActionLink("Se rendre sur l'accueil","Index","Home")</center>