@{
    ViewBag.Title = "Accueil";
}

<style>
</style>
<div class="col-lg-12">
    <div class="row">
        <div class="row col-lg-12">
            <div class=" col-xs-6">
                <button type="button" class="btn-sm btn-primary visible-xs form-control" data-toggle="collapse" data-target="#tes">Ajout une activité</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn-sm btn-primary visible-xs form-control" data-toggle="collapse" data-target="#tes2">Filtrer les activités</button>
            </div>
        </div>
        <br />
        <div class="col-lg-2 col-md-2">
            <div class="row">
                <div class="well collapse navbar-collapse" id="tes">

                    <ul class="nav nav-pills nav-stacked" id="tabs">
                        <li class="visible-lg visible-md">Ajouter une activité</li>
                        <li class="nav-divider visible-lg visible-md"></li>
                        <li><a href="#" data-toggle="modal" data-target="#modalActus"><span class="glyphicon glyphicon-info-sign"></span> Actualité</a></li>
                        <div id="modalActus" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Ajout d'une actualité</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Message de l'actualité</label>
                                                    <textarea class="form-control" rows="4" placeholder="Description de l'actualité"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-4">
                                                    <label>Type d'actualité</label>
                                                    <select class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalBonPlan"><span class="glyphicon glyphicon-piggy-bank"></span> Bon Plan</a></li>
                        <div id="modalBonPlan" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-piggy-bank"></span> Ajout d'un Bon Plan</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group col-lg-12">
                                                    <label>Description du bon plan</label>
                                                    <textarea class="form-control" rows="4" placeholder="Description de l'actualité"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-12">
                                                    <label>Site ou lieu du bon plan</label>
                                                    <input type="text" class="form-control" placeholder="Nom du site ou le lieu du bon plan" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalCovoit"><span class="glyphicon glyphicon-road"></span> Covoiturage</a></li>
                        <div id="modalCovoit" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-road"></span> Ajout d'un Bon Plan</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class=" form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" rows="4" placeholder="Description de l'actualité"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Date de départ</label>
                                                        <input type="datetime-local" class="form-control" />
                                                        <label>Lieu de départ</label>
                                                        <input type="text" class="form-control" placeholder="Lieu de départ" />
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Date d'arrivée</label>
                                                        <input type="datetime-local" class="form-control" />
                                                        <label>Lieu d'arrivé</label>
                                                        <input type="text" class="form-control" placeholder="Lieu d'arrivé" />
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-lg-2">
                                                        <label>Participation</label>
                                                        <input type="number" class="form-control" placeholder="€" />
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Véhicule utilisé</label>
                                                        <input type="text" class="form-control" placeholder="Véhicule" />
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalEvent"><span class="glyphicon glyphicon-glass"></span> Evenement</a></li>
                        <div id="modalEvent" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-glass"></span> Ajout d'un Evenement</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Description de l'évènement</label>
                                                    <textarea class="form-control" rows="4" placeholder="Description de l'actualité"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-5">
                                                    <label>Titre de l'évènement</label>
                                                    <input type="text" class="form-control" placeholder="Nom de l'évenement" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-4">
                                                    <label>Date de l'évènement</label>
                                                    <input type="datetime-local" class="form-control" />
                                                </div>
                                                <div class="form-group col-lg-5">
                                                    <label>Lieu de l'évènement</label>
                                                    <input type="text" class="form-control" placeholder="Lieu" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalObjetPerdu"><span class="glyphicon glyphicon-flag"></span> Objet Perdu</a></li>
                        <div id="modalObjetPerdu" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-flag"></span> Ajout d'un Objet Perdu</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Description de l'objet perdu</label>
                                                    <textarea class="form-control" rows="4" placeholder="Description de l'actualité"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-6">
                                                    <label>Lieu de l'objet perdu</label>
                                                    <input type="text" class="form-control" placeholder="Lieu" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalService"><span class="glyphicon glyphicon-wrench"></span> Service</a></li>
                        <div id="modalService" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-wrench"></span> Ajout d'un Service</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class=" form-group">
                                                    <label>Description de la proposition du service</label>
                                                    <textarea class="form-control" rows="4" placeholder="Description de l'actualité"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-5">
                                                    <label>Type de proposition de service</label>
                                                    <select class="form-control"></select>
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <label>Type de service</label>
                                                    <select class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-5">
                                                    <label>Titre du service</label>
                                                    <input type="text" class="form-control" placeholder="Titre" />
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label>Prix du service</label>
                                                    <input type="number" class="form-control" placeholder="€" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalObjet"><span class="glyphicon glyphicon-gift"></span> Objet</a></li>
                        <div id="modalObjet" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-gift"></span> Ajout d'un Objet</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Description de la proposition de l'objet</label>
                                                    <textarea class="form-control" rows="4" placeholder="Description de l'actualité"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-4">
                                                    <label>Type de proposition d'objet</label>
                                                    <select class="form-control"></select>
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <label>Type d'objet</label>
                                                    <select class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-5">
                                                    <label>Titre de la proposition de l'objet</label>
                                                    <input type="text" class="form-control" placeholder="Titre" />
                                                </div>
                                                <div class="form-group col-lg-2">
                                                    <label>Prix</label>
                                                    <input type="number" class="form-control" placeholder="€" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalSondage"><span class="glyphicon glyphicon-question-sign"></span> Sondage</a></li>
                        <div id="modalSondage" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span> Ajout d'un Sondage</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Description du sondage</label>
                                                    <textarea class="form-control" rows="4" placeholder="Description de l'actualité"></textarea>

                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label>Date de la fin du sondage</label>
                                                    <input type="datetime-local" class="form-control" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="row visible-xs">
                <div class="well collapse navbar-collapse" id="tes2">
                    <ul class="nav nav-pills nav-stacked" id="tabs">
                        <li class="active"><a href="#tabActus" data-toggle="tab">Toutes</a></li>
                        <li><a href="#tabActus" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span> Actualité</a></li>
                        <li><a href="#tabBonPlan" data-toggle="tab"><span class="glyphicon glyphicon-piggy-bank"></span> Bon Plan</a></li>
                        <li><a href="#tabCovoiturage" data-toggle="tab"><span class="glyphicon glyphicon-road"></span> Covoiturage</a></li>
                        <li><a href="#tabEvenement" data-toggle="tab"><span class="glyphicon glyphicon-glass"></span> Evenement</a></li>
                        <li><a href="#tabObjetPerdu" data-toggle="tab"><span class="glyphicon glyphicon-flag"></span> Objet Perdu</a></li>
                        <li><a href="#tabService" data-toggle="tab"><span class="glyphicon glyphicon-wrench"></span> Service</a></li>
                        <li><a href="#tabObjet" data-toggle="tab"><span class="glyphicon glyphicon-gift"></span> Objet</a></li>
                        <li><a href="#tabSondage" data-toggle="tab"><span class="glyphicon glyphicon-question-sign"></span> Sondage</a></li>
                    </ul>

                </div>

            </div>
        </div>

        <div class="col-lg-8 col-md-8" id="activite">
            <div class="panel panel-primary" id="lel">
                <div class="panel-heading">
                    <div class="panel-title pull-left"><span class="glyphicon glyphicon-user"></span> Proposition d'objet</div>
                    <div class="pull-right"><small>12 mai 2016 15:43</small></div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-10">
                                <div class="row">
                                    <p>Bonjour la communauté, je vous propose quelque objet auquel je tiens énormément mais étant donné que je vais bientôt déménager. Je décide donc je vendre ou bien donner certains objet afin de m'alleger pour mon voyage. Je vous remercie et bonne journée ! </p>
                                </div>
                                <div class="row">
                                    <p><span class="glyphicon glyphicon-comment"></span> 34 commentaires</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="row">
                                    <a href=#>Posté par Zeer</a>

                                </div>
                                <div class="row">
                                    <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <center><a href="#">Voir plus d'information</a></center>
                </div>
            </div>
            <div class="panel panel-default" id="2">
                <div class="panel-heading">
                    <div class="panel-title pull-left"><span class="glyphicon glyphicon-user"></span> Proposition d'objet</div>
                    <div class="pull-right"><small>12 mai 2016 15:43</small></div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-10">
                                <div class="row">
                                    <p>Bonjour la communauté, je vous propose quelque objet auquel je tiens énormément mais étant donné que je vais bientôt déménager. Je décide donc je vendre ou bien donner certains objet afin de m'alleger pour mon voyage. Je vous remercie et bonne journée ! </p>
                                </div>
                                <div class="row">
                                    <p><span class="glyphicon glyphicon-comment"></span> 34 commentaires</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="row">
                                    <a href=#>Posté par Zeer</a>
                                </div>
                                <div class="row">
                                    <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <center><a href="#">Voir plus d'information</a></center>
                </div>
            </div>
            <div class="panel panel-primary" id="1">
                <div class="panel-heading">
                    <div class="panel-title pull-left"><span class="glyphicon glyphicon-user"></span> Proposition d'objet</div>
                    <div class="pull-right"><small>12 mai 2016 15:43</small></div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-10">
                                <div class="row">
                                    <p>Bonjour la communauté, je vous propose quelque objet auquel je tiens énormément mais étant donné que je vais bientôt déménager. Je décide donc je vendre ou bien donner certains objet afin de m'alleger pour mon voyage. Je vous remercie et bonne journée ! </p>
                                </div>
                                <div class="row">
                                    <p><span class="glyphicon glyphicon-comment"></span> 34 commentaires</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="row">
                                    <a href=#>Posté par Zeer</a>
                                </div>
                                <div class="row">
                                    <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <center><a href="#">Voir plus d'information</a></center>
                </div>
            </div>
            <div class="panel panel-primary" id="1">
                <div class="panel-heading">
                    <div class="panel-title pull-left"><span class="glyphicon glyphicon-user"></span> Proposition d'objet</div>
                    <div class="pull-right"<small>12 mai 2016 15:43</small></div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-10">
                                <div class="row">
                                    <p>Bonjour la communauté, je vous propose quelque objet auquel je tiens énormément mais étant donné que je vais bientôt déménager. Je décide donc je vendre ou bien donner certains objet afin de m'alleger pour mon voyage. Je vous remercie et bonne journée ! </p>
                                </div>
                                <div class="row">
                                    <p><span class="glyphicon glyphicon-comment"></span> 34 commentaires</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="row">
                                    <a href=#>Posté par Zeer</a>
                                </div>
                                <div class="row">
                                    <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <center><a href="#">Voir plus d'information</a></center>
                </div>
            </div>
            <div class="panel panel-default" id="2">
                <div class="panel-heading">
                    <div class="panel-title pull-left"><span class="glyphicon glyphicon-user"></span> Proposition d'objet</div>
                    <div class="pull-right"><small>12 mai 2016 15:43</small></div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-10">
                                <div class="row">
                                    <p>Bonjour la communauté, je vous propose quelque objet auquel je tiens énormément mais étant donné que je vais bientôt déménager. Je décide donc je vendre ou bien donner certains objet afin de m'alleger pour mon voyage. Je vous remercie et bonne journée ! </p>
                                </div>
                                <div class="row">
                                    <p><span class="glyphicon glyphicon-comment"></span> 34 commentaires</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="row">
                                    <a href=#>Posté par Zeer</a>

                                </div>
                                <div class="row">
                                    <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <center><a href="#">Voir plus d'information</a></center>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-2">
            <div class="row">
                <ul class="nav nav-pills nav-stacked well visible-md visible-lg" id="tabs">
                    <li class="visible-lg visible-md">Filtrer les activités</li>
                    <li class="nav-divider visible-lg visible-md"></li>
                    <li class="active"><a href="#tabActus" data-toggle="tab">Toutes</a></li>
                    <li><a href="#1" class="toggle" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span> Actualité</a></li>
                    <li><a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');" data-toggle="tab"><span class="glyphicon glyphicon-piggy-bank"></span> Bon Plan</a></li>
                    <li><a href="#tabCovoiturage" data-toggle="tab"><span class="glyphicon glyphicon-road"></span> Covoiturage</a></li>
                    <li><a href="#tabEvenement" data-toggle="tab"><span class="glyphicon glyphicon-glass"></span> Evenement</a></li>
                    <li><a href="#tabObjetPerdu" data-toggle="tab"><span class="glyphicon glyphicon-flag"></span> Objet Perdu</a></li>
                    <li><a href="#tabService" data-toggle="tab"><span class="glyphicon glyphicon-wrench"></span> Service</a></li>
                    <li><a href="#tabObjet" data-toggle="tab"><span class="glyphicon glyphicon-gift"></span> Objet</a></li>
                    <li><a href="#tabSondage" data-toggle="tab"><span class="glyphicon glyphicon-question-sign"></span> Sondage</a></li>
                    <li><button class="btn btn-primary"> CLIC</button></li>
                </ul>
            </div>
            <div class="row">
                <ul class="well nav navbar-inverse">
                    <li>Evenement à venir</li>
                    <li class="nav-divider"></li>
                    <li><a href="#">lel</a></li>
                    <li><a href="#">lyl</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



<script>
    $('.toggle').click(function (event) {
        event.preventDefault();
        var target = $(this).attr('href');
        $('#activite').each(index)
        {
            $(target).toggleClass('hidden show fade');
        }


    });
</script>
